<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/images/admin.png);"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#homeSubmenu">Home</a>
            </li>
            <li class="">
                <a href="/admin/user">Users</a>
            </li>

            <!-- <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Users</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/admin/user">All Users</a>
                    </li>
                    <li>
                        <a href="#">Add new User</a>
                    </li>
                </ul>
            </li> -->

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Product</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/admin/product">All Products</a>
                    </li>
                    <li>
                        <a href="/admin/new-product">Add new Product</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved <i
                    class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">shopCart.com</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>

